// Typography


// Font Sizes
$base-font-size: 14px;
$header-font-size: 24px;

// font colors
$base-font-color: #ffffff;
$action-color: #962F1E;

// colors
$wnba-orange: #F15623;

// Page width
$max__width: 1200px;
$max__width_plus: 1280px;
$max__width_total: 1440px;




